# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.initrd

# Debug files
*.dSYM/

# Images
*.iso
*.bin

# Intellij
.idea/

# VSCode
.vscode/

# Zig
zig-cache

# Build dir
bin/*
*.pyc
__pycache__
